<video autoplay muted loop class='bg-video'>
  <source src='/images/bees-flying-in-and-out-of-hive.webm' type='video/webm' />
  <source src='/images/bees-flying-in-and-out-of-hive.mp4' type='video/mp4' />
  Your browser does not support HTML5 video.
</video>

<div class='login-wrapper'>
  <div class='login-header'>
    <h2>Login</h2>
  </div>
  <div class='control'>
    <div id='login-form'>
      <div class='field'>
        <p class='control has-icons-left has-icons-right'>
          <input id='email' class='input' type='email' placeholder='Email' />
          <span class='icon is-small is-left'>
            <i class='fas fa-envelope'></i>
          </span>
          <span class='icon is-small is-right'>
            <i class='fas fa-check'></i>
          </span>
        </p>
      </div>
      <div class='field'>
        <p class='control has-icons-left'>
          <input id='password' class='input' type='password' placeholder='Password' />
          <span class='icon is-small is-left'>
            <i class='fas fa-lock'></i>
          </span>
        </p>
      </div>
      <div class='field'>
        <p class='control'>
          <button id='submit' class='button is-warning is-responsive is-outlined'>
            Login
          </button>
        </p>
      </div>
    </div>
  </div>
  <p>Don't have an account? <a href='/signup'>Sign up Here!</a></p>
</div>