
<h2>Login</h2>

<form id="login-form" >
        <input type="text" name="email" placeholder="Email" class="login-email" id="email">
        <input type="password" name="password" placeholder="Password" class="login-password" id="password">
        <button id="submit">Login</button>
    </form>

<script src="/js/login.js"></script>