<h1>Login</h1>

<form id="login-form">

        <label for="email">Email</label>
        <input type="text" placeholder="Please enter email" class="login-email" id="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" class="login-password" id="password">

        <button id="submit">Log In</button>
        
    </form>