<!--{{#if login}} -->

<h2>Login</h2>

<form id="login-form" action="/login" method="post">
        <input type="text" name="email" placeholder="Email" class="login-email" id="email">
        <input type="password" name="password" placeholder="Password" class="login-password" id="password">
        <button id="submit">Login</button>
    </form>
<p>Don't have an account? <a href="/signup">Sign up Here!</a></p>
<!--{{else}}
    <h2>Sign up</h2>
    <form action="/signup" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" >
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Log in Here!</a></p>

{{/if}}    