:root {
  --header-font-family: 'Bitter', serif;
  --header-font-weight: 400;
  --header-font-style: normal;
  --header-font-color: #2d3d34;
  --header-letter-spacing: 0.02em;
  --primary-font-family: 'IBM Plex Mono', 'monospace', sans-serif;
  --primary-font-weight: 300;
  --primary-font-style: normal;
  --primary-font-color: #2d3d34;
  --primary-background-color: #faf8f0;
  --secondary-background-color: #f1efe3;
}

/* set the background color of the website */
body {
  background-color: var(--primary-background-color);
}

h1 {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);
  letter-spacing: var(--header-letter-spacing);
  color: var(--header-font-color);
}

/* styling rules for p and buttons */
p,
button,
menu {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
  color: var(--primary-font-color);
}

menu {
  list-style: none;
  li {
    padding: 0.5em;
  }
}

heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0;
  h1 {
    margin: 1rem 3rem;
  }
  .menu-span {
    display: flex;
    menu {
      padding-right: 3rem;
      list-style: none;
      display: flex;
      li {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em;
      }
    }
  }
}
