/*  product table style */

.mobile {
  width: 95vw;
  display: none;
}

.message-header-text {
  font-weight: 700;
}

.message-header {
  border-radius: 30px 30px 0 0;
}

.message {
  border-radius: 0 0 30px 30px;
}

table {
  width: 95vw;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.table tbody {
  background-color: var(--tertiary-background-color);
  padding: 20px;
  border-radius: 30px;
}

th,
td {
  text-align: left;
  padding: 8px;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
  color: var(--primary-font-color);
}

th {
  background-color: var(--secondary-background-color);
  color: var(--header-font-color);
  font-weight: 700;
}

td.data.quantity {
  text-align: center;
  max-width: 7rem;
  min-width: 5rem;
}

td.data.price {
  text-align: center;
  max-width: 5rem;
  min-width: 5rem;
}

td.data.size {
  text-align: center;
  max-width: 7rem;
  min-width: 5rem;
}

td.data.weight {
  text-align: center;
  max-width: 7rem;
  min-width: 5rem;
}

tr:nth-child(even) {
  background-color: var(--primary-background-color);
}

/* MOBILE */
@media (max-width: 768px) {
  .mobile {
    display: inline;
    background-color: var(--secondary-background-color);
  }
}
